<div class="row no-gutters">
  <div class="col no-gutters">
    <div class="left-side">
      <div class="cloud bubble-1">
        <p>Automate pricing, set rules, and view price information with ease.</p>
      </div>
      <div class="cloud bubble-2">
        <p>Goodbye to price monitoring. Focus on growth!</p>
      </div>
      <div class="cloud bubble-3">
        <p>Boost sales with smarter pricing and competitor tracking.</p>
      </div>
    </div>
  </div>

  <div class="col no-gutters">
    <div class="right-side">
      <div class="reset-password-box">
        <h2 class="cogniprice-title">Cogniprice</h2>

        <div class="line-with-text">
          <span>Reset Your Password</span>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
          <mat-form-field appearance="outline" class="input-group">
            <mat-label>New Password</mat-label>
            <input matInput id="newPassword" type="password" formControlName="password" placeholder="Enter new password" required />
            <mat-hint class="input-hint" *ngIf="changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.invalid">
              <small *ngIf="changePasswordForm.get('password')?.hasError('required')">
                Password is required.
              </small>
              <small *ngIf="changePasswordForm.get('password')?.hasError('minlength')">
                Password must be at least 8 characters long.
              </small>
              <small *ngIf="changePasswordForm.get('password')?.hasError('pattern') && changePasswordForm.get('password')?.value.length >= 8">
                Password must contain at least one special character.
              </small>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-group">
            <mat-label>Confirm Password</mat-label>
            <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm your password" required />
            <mat-hint class="input-hint" *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.invalid">
              Please confirm your password.
            </mat-hint>
            <mat-hint class="input-hint" *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
              Passwords must match.
            </mat-hint>
          </mat-form-field>

          <button type="submit" [disabled]="changePasswordForm.invalid">Reset Password</button>
        </form>

        <div class="center-align">
          <a (click)="goToLogin()" class="link">Back to Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
