<div class="row no-gutters">
  <div class="col no-gutters">
    <div class="left-side">
      <div class="cloud bubble-1">
        <p>Automate pricing, set rules, and view price information with ease.</p>
      </div>
      <div class="cloud bubble-2">
        <p>Goodbye to price monitoring. Focus on growth!</p>
      </div>
      <div class="cloud bubble-3">
        <p>Boost sales with smarter pricing and competitor tracking.</p>
      </div>
    </div>
  </div>

  <div class="col no-gutters">
    <div class="right-side">
      <div class="forgot-password-box">
        <h2 class="cogniprice-title">Cogniprice</h2>

        <div class="line-with-text">
          <span>Forgot Password</span>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
          <mat-form-field appearance="outline" class="input-group">
            <mat-label>Email Address</mat-label>
            <input matInput id="email" type="email" formControlName="email" placeholder="Enter your email" required />
            <mat-hint class="input-hint" *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">
              Please enter a valid email address.
            </mat-hint>
          </mat-form-field>

          <button type="submit">Submit</button>
        </form>

        <div class="links-container">
          <a (click)="goToLogin()" class="link">Back to Login</a>
          <a (click)="goToSignup()" class="link">Don't have an account yet? Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
