.competitors-title {
  font-family: 'Volkhov', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.no-competitors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.container {
  padding: 16px;
  margin: auto;
  max-width: 1400px;
}



.no-competitors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.competitors-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid for cards */
  gap: 16px; /* Space between cards */
}

.competitor-card {
  display: flex;
  flex-direction: column; /* Layout for the card content */
  padding: 16px;
  justify-content: space-between;
  text-align: center;
}



.competitor-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; /* Center the title in the card */
  width: 100%;
  overflow: hidden;
}

.competitor-url {
  color: #3f51b5; /* Material Design primary color */
  text-decoration: none;
  margin-top: 8px; /* Space below the title */
  margin-bottom: 8px;
  overflow: hidden;
}

.competitor-url:hover {
  text-decoration: underline;
}

button.redirect-button {
  align-self: center; /* Align the button to the right */
  margin-top: 16px; /* Add space between URL and button */
  padding: 8px 16px;
  background-color: #3f51b5;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.redirect-button:hover {
  background-color: #2c387e; /* Darker shade on hover */
}


.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 0px 16px;
}

.filters-container mat-form-field {
  flex: 1;
  max-width: 50%;
  font-size: 1.1rem;
}

@media (max-width: 800px) {
  .filters-container mat-form-field {
    max-width: 100%;
  }
}
